*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 310px;
    height: 400px;
    background-color: rgb(54, 51, 46);
    border-radius: 10px;
    padding:20px;
    display: flex;
    flex-direction: column;

}

input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0px;

}

form > h1{
    text-align: center;

}

#btn-entra{
    width: 100px;
    display: block;
    margin: 5px auto;
    padding: 10px;
}