*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
}

#menu-config > ul {
    display: flex;
    list-style: none;
}

#menu-config  li  a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    text-transform: capitalize;
}

#areatexto{
    outline: none;
}

/* CLASS ADD PELO JS PARA MUDAR DE TEMA */
.escuro header{
    background-color: black;
}